.breadcrumbs {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;

        li {
            margin-right: 2rem;
            position: relative;

            &:after {
                content: "";
                display: block;
                width: .3rem;
                height: .3rem;
                background: $breadcrumbs-grey;
                border-radius: 10rem;
                position: absolute;
                right: -1rem;
                top: 50%;
                transform: translateY(-30%);
            }

            &:last-of-type {
                &:after {
                    display: none;
                }

                a {
                    color: $text-black;
                    font-weight: 500;
                    pointer-events: none;
                }
            }

            a {
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: .07rem;
                color: $text-dark-grey;
                text-decoration: none;
                transition: .2s ease-in-out;

                &:hover {
                    color: $text-black;
                }
            }
        }
    }
}

.catalog-page {
    .about-brand {
        width: 100%;
        display: flex;
        .about-brand-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-logo {
                object-fit: contain;
                max-width: 10rem;
            }
            &__text {
                font-family: 'Cormorant Garamond';
                font-weight: 600;
                font-size: 1.8rem;
                letter-spacing: 0.25px;
                padding: 0 16rem 4rem;
                color: #5A5A5A;
                text-align: justify;
            }
        }
        .about-brand-banner {
            width: 50%;
            img {
                width: 100%;
                height: 45rem;
                max-height: 45rem;
            }
        }
    }

    .category-description {

        .cat-text, .cat-image {
            flex: 1;
        }

        .cat-image {
            text-align: right;

            img {
                max-width: 100%;
            }
        }

        .cat-text {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 13.5rem;
            }

            div {
                text-align: center;
            }

            p {
                font-weight: 600;
                font-size: 1.8rem;
                font-family: "Cormorant Garamond", serif;
                color: $text-dark-grey;
                line-height: 2.4rem;
            }
        }
    }

    .catalog-top {
        margin-top: 3rem;
        margin-bottom: 3rem;

        .sorting {
            .link {
                color: $text-black;
                font-weight: 700;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                text-decoration: none;

                img {
                    margin-left: 1.5rem;
                }
            }

            .droppable {
                background: $bg-light-grey;
                box-shadow: 0px 8px 10px rgba(2, 3, 3, 0.03), 0px 3px 14px rgba(2, 3, 3, 0.02), 0px 5px 5px rgba(2, 3, 3, 0.04);
                width: 20rem;
                padding: 2rem;

                p {
                    margin: 0 0 2rem 0;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    a {
                        color: $text-black;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-decoration: none;

                        &:hover {
                            border-bottom: 1px solid $text-black;
                            padding-bottom: .3rem;
                        }
                    }
                }
            }
        }
    }

    .catalog-middle {
        display: flex;
        align-items: flex-start;

        .content {
            width: 100%;

            .sorting {
                width: 15%;
                max-width: 15%;
                margin-bottom: 4.8rem;
                .link {
                    color: $text-black;
                    font-weight: 700;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    text-decoration: none;

                    img {
                        margin-left: 1.5rem;
                    }
                }

                .droppable {
                    background: $bg-light-grey;
                    box-shadow: 0 8px 10px rgba(2, 3, 3, 0.03), 0 3px 14px rgba(2, 3, 3, 0.02), 0 5px 5px rgba(2, 3, 3, 0.04);
                    padding: 2rem;
                    border-radius: unset;
                    width: 100%;

                    p {
                        margin: 0 0 2rem 0;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        a {
                            color: $text-black;
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                border-bottom: 1px solid $text-black;
                                padding-bottom: .3rem;
                            }
                        }
                    }
                }
            }
        }

        .filters-list {
            flex-basis: 25rem;
            box-sizing: border-box;
            margin-bottom: 5rem;
            margin-right: 4rem;

            .filter-block {
                border-top: 1px solid $text-black;

                &.active {
                    .filter-name span:before {
                        content: "-";
                        color: $text-black;
                    }
                }

                &:last-of-type {
                    border-bottom: 1px solid $text-black;
                }

                .filter-name {
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: $dark-blue;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem 0;

                        &:hover {
                            span:before {
                                color: $text-black;
                            }
                        }
                    }

                    span:before {
                        color: $plus-grey;
                        content: "+";
                        font-size: 2.4rem;
                        font-weight: 400;
                        transition: .2s ease-in-out;
                    }
                }

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        margin-bottom: 2rem;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        a {
                            font-size: 1.1rem;
                            text-transform: uppercase;
                            font-weight: 400;
                            color: $text-black;
                            text-decoration: none;
                            display: block;
                            transition: .4s ease-in-out;

                            &:hover {
                                font-weight: 600;
                                transform: translateX(1rem);
                            }
                        }
                    }
                }

            }
        }

        .content {
            flex: 1;
        }
    }

    .content {
        .products-list {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-gap: 4rem 2rem;
            margin-bottom: 5rem;
        }

        .empty {
            font-size: 1.2rem;
            margin: 0;
            padding: 2rem;
            text-align: center;
            border: 1px solid $dark-blue;
            border-radius: .5rem;
            grid-column-start: 1;
            grid-column-end: 5;
        }

        .product {
            font-size: 1.4rem;
            font-weight: 500;
            cursor: pointer;
            position: relative;

            h1 {
                font-size: 1.4rem;
                font-weight: 500;
            }

            figure {
                transition: .4s ease-in-out;
            }

            &:hover {
                figure {
                    box-shadow: 0px 3px 4px rgb(2 3 3 / 3%), 0px 3px 3px rgb(2 3 3 / 2%), 0px 1px 8px rgb(2 3 3 / 4%);
                }

                .add-to-favorites {
                    opacity: 1;
                    visibility: visible;
                }

                .add-to-cart {
                    opacity: 1;
                    visibility: visible;
                }

                .product-item-close {
                    background: $white;
                    transition: .4s ease-in-out;
                    svg {
                        fill: $text-black;
                        transition: .4s ease-in-out;
                    }
                }
            }

            .favorite-product-image {
                min-height: 42.2rem!important;
                max-height: 42.2rem!important;
            }

            .product-item-close {
                padding: 1rem;
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                width: 2.7rem;
                height: 2.7rem;
                transition: .4s ease-in-out;
                z-index: 50;
                svg {
                    width: 50%;
                    fill: rgba(39, 39, 39, 0.2);
                    transition: .4s ease-in-out;
                }
            }

            .add-to-cart-hidden {
                display: none;
            }

            .add-to-cart-btn {
                background: $text-black;
                font-size: 1.3rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.8rem 0;
                color: $white;
                text-decoration: none;
                border-radius: .2rem;
                font-weight: 600;
                transition: .4s ease-in-out;

                &:hover {
                    color: $white;
                    background: $dark-blue;
                }
            }

            .select-size {
                margin: 1.5rem 0 1rem;
                width: 100%;
                background: $delete-grey;
                .selected-size {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0.75px;
                    position: relative;
                    padding: 1.8rem 0;
                    img {
                        position: absolute;
                        right: 2.4rem;
                    }
                }
                .slidedown-element {
                    padding: 2.6rem;
                    display: none;
                    background: $bg-light-grey;
                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.2rem;
                        text-decoration: none;
                        letter-spacing: 0.7px;
                        color: $text-black;
                        transition: .4s ease-in-out;
                        &:hover {
                            transition: .4s ease-in-out;
                            border-bottom: 1px solid $text-black;
                        }
                    }
                }
            }

            .add-to-favorites {
                background: $white;
                padding: 1rem;
                position: absolute;
                top: .5rem;
                right: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .5rem;
                width: 2.7rem;
                height: 2.7rem;
                opacity: 0;
                visibility: hidden;
                transition: .4s ease-in-out;
                z-index: 50;

                svg {
                    width: 70%;
                }

                svg path {
                    transition: .4s ease-in-out;
                }

                &.active {
                    svg path {
                        fill-opacity: 1;
                        fill: $red;
                    }
                }

                &:hover {
                    svg path {
                        fill: $red;
                    }
                }
            }

            .add-to-cart {
                background: $text-black;
                font-size: 1.3rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 2rem;
                width: 90%;
                left: 5%;
                padding: 1.5rem 0;
                color: $white;
                text-decoration: none;
                border-radius: .3rem;
                font-weight: 600;
                visibility: hidden;
                opacity: 0;
                transition: .4s ease-in-out;

                &:hover {
                    color: $white;
                    background: $dark-blue;
                }
            }

            .image-link {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70%;
            }

            .select-size {
                .slidedown-element {
                    a {
                        &:hover {
                            border-bottom: none;
                        }
                    }
                    .sizes {
                        margin-top: 2.5rem;
                    }
                    .colors, .sizes {
                        .f-title {
                            margin: 0 0 2rem 0;
                            font-weight: 700;
                            font-size: 1rem;
                            text-transform: uppercase;
                            letter-spacing: 1.5px;
                            min-height: 1.3rem;
                            display: flex;
                            align-items: center;

                            .choosen-color, .choosen-size {
                                font-weight: 500;
                                font-size: 1.2rem;
                                display: inline-block;
                                margin-left: 1rem;
                            }
                        }

                        .colors-list {
                            a {
                                display: block;
                                width: 2.4rem;
                                height: 2.4rem;
                                border-radius: 100%;
                                margin-right: 1.5rem;
                                content: "";
                                position: relative;

                                &.active {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: 130%;
                                        height: 130%;
                                        display: block;
                                        border: 1px solid $text-black;
                                        border-radius: 100%;
                                        transform: translate(-50%, -50%);
                                    }
                                }

                                &:last-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .sizes {
                        margin-top: 3rem;

                        .f-title {
                            margin-bottom: 2rem;
                        }

                        p {
                            margin: 0;
                        }

                        .integration {
                            color: $text-dark-grey;
                            text-decoration: none;
                            font-weight: 600;

                            img {
                                margin-right: 1.5rem;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .sizes-list {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            .size-item {
                                width: 5.4rem;
                                height: 5.4rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid $menu-divider;
                                text-align: center;
                                border-radius: 100%;
                                text-decoration: none;
                                font-size: 1.2rem;
                                text-transform: uppercase;
                                font-weight: 500;
                                color: $text-black;
                                margin: 0 1rem 1rem 0;

                                &.only-one {
                                    font-size: 1rem;
                                }

                                &:last-of-type {
                                    margin-right: 0;
                                }

                                &.active {
                                    border: 1px solid $text-dark-grey;
                                }
                            }

                            .more-items {
                                color: $text-black;
                                font-weight: 700;
                                font-size: 1rem;
                                text-transform: uppercase;
                                text-align: center;
                                text-decoration: none;
                                margin: 0 1rem;
                            }
                        }
                    }
                    .favorite-sizes {
                        .sizes-list {
                            display: flex;
                            align-items: flex-start;
                            .size-item {
                                position: relative;
                            }
                        }
                    }
                }
            }

            .img-link {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .product-image {
                margin: 0;
                position: relative;
                min-height: 50.8rem;
                display: flex;
                align-items: center;
                justify-content: center;

                &.hover-effect:hover{
                    .first{
                        opacity: 0;
                    }
                    .second{
                        opacity: 1;
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: .4s ease-in-out;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    filter: brightness(97%);

                    &.second{
                        opacity: 0;
                    }
                }
            }

            .product-title {
                margin-left: 1rem;
                flex: 1;
                line-height: 1.6rem;
                margin-top: 1rem;

                a {
                    color: $text-black;
                    text-decoration: none;
                }

                span {
                    &.category {
                        font-weight: 400;
                    }
                }
            }

            .product-price {
                margin-right: 1rem;
                font-weight: 600;
                margin-top: 1rem;
                margin-left: 1rem;

                svg {
                    margin-left: 1rem;
                }
            }
        }

        .product.discount {
            .product-price {
                &.dlocked {
                    text-decoration: line-through;
                    color: $border-black;
                    margin-bottom: 0;
                    display: block;
                    margin-right: 1rem;
                    text-align: center;
                }

                &.douted {
                    color: $red;
                    margin-top: .5rem;
                    margin-bottom: 0;

                    svg circle{
                        fill: $red;
                    }
                }
            }
        }

        .product.new-product {
            .newly {
                background: $dark-blue;
                color: $white;
                font-size: 1rem;
                text-transform: uppercase;
                padding: 1rem 2rem;
                position: absolute;
                font-weight: 700;
                letter-spacing: 2px;
                left: 50%;
                top: 2rem;
                transform: translateX(-50%);
                z-index: 5;
            }
        }
    }

    .toggle { display: none; padding: 1.5rem 0 3rem 0; list-style: none; }

    .colors-filter {
        margin: 0;
        padding-left: .5rem !important;
        padding-bottom: 1.5rem;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem !important;
            cursor: pointer;

            &.active {
                .text {
                    font-weight: 600;
                }

                .color {
                    &:before {
                        content: "";
                        display: block;
                        width: 3rem;
                        height: 3rem;
                        z-index: 10;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: 1px solid $text-dark-grey;
                        border-radius: 60rem;
                    }
                }
            }
        }

        .color {
            width: 2.4rem;
            height: 2.4rem;
            display: block;
            margin-right: 2rem;
            position: relative;
            border-radius: 60rem;
        }

        .text {
            color: $text-dark-grey;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .list-filter {
        ul {
            padding: 0;
            margin: 0;

            li {
                a {
                    position: relative;

                    &:hover {
                        transform: translateX(1rem);
                    }

                    &:before {
                        content: "";
                        display: block;
                        background: url('../i/icons/fi-check.svg') center center no-repeat;
                        width: 0;
                        height: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s ease-in-out;
                        position: absolute;
                        left: -2.4rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                a.active {
                    font-weight: 600;
                    transform: translateX(2.4rem);

                    &:before {
                        opacity: 1;
                        width: 1.6rem;
                        height: 1.6rem;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .price-filter {
        padding-bottom: 4rem;
        padding-top: 2rem;

        .price-inputs {

            label {
                font-size: 1.2rem;
                position: relative;

                span {
                    position: absolute;
                    left: 0;
                }
            }

            .divider {
                width: 1.5rem;
                background: $menu-divider;
                height: 1px;
            }

            input {
                border: none;
                border-bottom: 1px solid $menu-divider;
                padding-bottom: .5rem;
                font-size: 1.2rem;
                font-weight: 400;
                outline: none;
                width: 10rem;
                box-sizing: border-box;
                padding-left: 2rem;
                text-align: right;
            }
        }

        .price-slider {
            height: 1px;
            border: none;
            box-shadow: none;
            background: $menu-divider;
            margin-top: 3rem;
            padding: 0 10px 0 5px;

            .noUi-connect {
                background: $text-black;
            }

            .noUi-connects {
                margin: 0 -10px 0 -5px;
                width: calc(100% + 10px);
            }

            .noUi-target {
                padding: 0 10px 0 5px;
            }

            .noUi-handle {
                width: 1.6rem;
                height: 1.6rem;
                border: 1px solid $text-black;
                box-shadow: none;
                cursor: pointer;
                border-radius: 60rem;
                outline: none;
                top: -.8rem;
                right: -10px;

                &:before, &:after {
                    display: none;
                }
            }
        }
    }

}
