.product-page {

    .product-more-top {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .product-gallery {
        //background: #F8F7F5;
        background: $white;
        height: 65rem;
        flex: 1;
        overflow: hidden;
        position: relative;

        .back-url-link {
            background: $white;
            border-radius: 60rem;
            position: absolute;
            box-shadow: 0px 4px 15px rgba(155, 157, 162, 0.1);
            z-index: 500;
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 6rem;
            left: 5rem;
        }

        .thumbs {
            position: absolute;
            bottom: 8rem;
            left: 5rem;
            width: 15rem;
            height: 32rem;
            z-index: 600;

            .swiper-slide {
                cursor: pointer;

                img {
                    margin-left: 1rem;
                    transition: .2s all ease-in-out;
                    object-fit: cover;
                    width: 9rem;
                    height: 9rem;
                    opacity: .5;
                    box-shadow: 0px 8px 5px rgba(2, 3, 3, 0.03),
                    0px 3px 6px rgba(2, 3, 3, 0.02),
                    0px 5px 2px rgba(2, 3, 3, 0.04);
                }

                &.swiper-slide-thumb-active {
                    img {
                        opacity: 1;
                        box-shadow: none;
                    }
                }
            }
        }

        .main {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top center;
            }
        }
    }

    .product-more-info {
        box-sizing: border-box;
        padding: 5rem;
        flex: 1;
        position: relative;

        .colors-list {
            margin-left: .5rem;
        }

        .add-to-favorites {
            position: absolute;
            top: 4.5rem;
            right: 5rem;

            svg {
                path {
                    transition: .4s ease-in-out;
                }
            }

            &.active {
                svg path {
                    fill-opacity: 1;
                    fill: $red;
                }
            }

            &:hover {
                svg {
                    path {
                        fill-opacity: 1;
                        fill: $red;
                    }
                }
            }
        }

        .some-text {
            font-size: 1rem;
            text-transform: uppercase;
            color: $text-dark-grey;
            font-weight: 700;
            margin: 0 0 1rem 0;
            letter-spacing: 1.5px;
        }

        .name {
            font-size: 3.6rem;
            font-family: "Cormorant Garamond", serif;
            font-weight: 500;
            margin: 0;
        }

        .price {
            font-weight: 600;
            font-size: 1.6rem;
            margin: 2rem 0 0 0;

            svg {
                margin-right: 1rem;
                transform: translateY(-1px);
            }
        }

        .colors, .sizes {
            margin-top: 10rem;

            .f-title {
                margin: 0 0 2rem 0;
                font-weight: 700;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                min-height: 1.3rem;
                display: flex;
                align-items: center;

                .choosen-color, .choosen-size {
                    font-weight: 500;
                    font-size: 1.2rem;
                    display: inline-block;
                    margin-left: 1rem;
                }
            }

            .colors-list {
                a {
                    display: block;
                    width: 2.4rem;
                    height: 2.4rem;
                    border-radius: 100%;
                    margin-right: 1.5rem;
                    content: "";
                    position: relative;

                    &.active {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 130%;
                            height: 130%;
                            display: block;
                            border: 1px solid $text-black;
                            border-radius: 100%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        .geoma {
            margin-top: 2rem;
            position: relative;
            overflow: hidden;

            a {
                text-decoration: none;
                color: $text-black;
                justify-content: center;
                width: 100%;
            }

            img {
                transform: translateY(.5rem);
            }

            .relative:before{
                content: "";
                display: block;
                background: url('../i/blue-neckle.png') top center no-repeat;
                width: 25rem;
                height: 15rem;
                position: absolute;
                top: -5rem;
                right: -1rem;
            }

            div {
                align-items: flex-end;
            }

            p {
                margin: 0 0 0 15rem;
                font-size: 2.4rem;
                font-weight: 500;
                font-family: "Cormorant Garamond", serif;
            }
        }

        .sizes {
            margin-top: 3rem;

            .f-title {
                margin-bottom: 2rem;
            }

            p {
                margin: 0;
            }

            .integration {
                color: $text-dark-grey;
                text-decoration: none;
                font-weight: 600;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;

                img {
                    margin-right: 1.5rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            .sizes-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .size-item {
                    width: 5.4rem;
                    height: 5.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $menu-divider;
                    border-radius: 100%;
                    text-decoration: none;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                    color: $text-black;
                    margin-right: 1.2rem;

                    &.only-one {
                        font-size: 1rem;
                    }

                    &.active {
                        border: 1px solid $text-dark-grey;
                    }
                }

                .more-items {
                    color: $text-black;
                    font-weight: 700;
                    font-size: 1rem;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                    margin: 0 1rem;
                }
            }
        }

        .actions {
            margin-top: 5rem;

            .relative {
                flex: 1;
            }

            .btn-black {
                margin-top: 0;
                flex: 1;
                width: 100%;
                box-sizing: border-box;
            }

            .vendor {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 2rem 0 0 0;
                color: $text-dark-grey;
                font-size: 1.2rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                transform: translateY(calc(100% + 1.5rem));
            }

            .recommend {
                text-align: center;
                font-weight: 600;
                font-size: 1.3rem;
                text-transform: uppercase;
                color: $text-dark-grey;
                text-decoration: none;
                position: relative;

                .info-tooltip:hover ~ .info-hint {
                    display: block;
                }

                .info-hint {
                    position: absolute;
                    top: 0;
                    transform: translateY(-115%);
                    right: -4rem;
                    width: 40rem;
                    background: $white;
                    box-sizing: border-box;
                    padding: 3rem 4rem;
                    box-shadow: 0px 4px 15px rgba(155, 157, 162, 0.3);
                    display: none;
                    text-align: left;

                    svg {
                        position: absolute;
                        bottom: -2.7rem;
                        right: 10.5rem;
                        fill: $white;
                    }

                    .title {
                        margin: 0 0 2rem 0;
                        font-weight: 600;

                        img {
                            width: 1.6rem;
                            margin: 0 1.5rem 0 0;
                            justify-content: flex-start;
                        }
                    }

                    .description {
                        text-transform: none;
                        font-weight: 400;
                        margin: 0;
                        font-size: 1.2rem;
                        line-height: 1.8rem;
                    }
                }

                svg {
                    width: 1.6rem;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translate(3rem, -2rem);
                }

                &:nth-of-type(1) {
                    margin-right: 8rem;
                    margin-left: 5rem;
                }

                &:nth-of-type(2) {
                    margin-right: 4rem;
                }

                img {
                    display: block;
                    margin: 0 auto 1rem auto;
                }
            }
        }
    }

    .product-more-middle {
        margin-top: 4rem;

        .details {
            margin-top: 5rem;

            h3 {
                text-align: center;
                font-weight: 500;
                font-size: 2.4rem;
                font-family: "Cormorant Garamond", serif;
            }

            .tabs-header {
                margin-top: 4rem;
                margin-bottom: 6rem;

                a:before {
                    height: 2px;
                    width: 100%;
                }

                a.active:before {
                    width: 100%;
                    height: 2px;
                }
            }

            .tabs-content {
                margin-bottom: 6rem;
                width: 80rem;
                min-height: 20rem;
            }

            .duo {
                gap: 10rem;
                min-width: 100%;

                div {
                    flex: 1;
                }

                p {
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 2.6rem;
                    color: $dark-blue;
                }
            }

        }
    }

    .details-table {
        width: 40rem;
        margin: 0 auto;

        p {
            margin: 0;
            display: grid;
            grid-template-columns: 40% 1fr;
            border-top: 1px solid $dark-blue;
            padding: 2rem 0;
            font-size: 1.3rem;

            &:last-of-type {
                border-bottom: 1px solid $dark-blue;
            }

            .left {
                text-align: left;
                font-weight: 500;
            }

            .right {
                font-weight: 400;
                text-align: right;
            }
        }
    }

    .products-with-product {
        background: $order-grey;
        padding: 5rem 0;

        .tabs-header {
            a {
                font-size: 2rem;
                font-family: "Cormorant Garamond", serif;
                text-transform: none;
                font-weight: 500;

                &:before {
                    height: 1px;
                    width: 100%;
                    bottom: -.1rem;
                }

                &.active:before {
                    width: 100%;
                }
            }
        }

        .tabs-content {
            width: 100%;

            .tab-content {
                padding-top: 1rem;
            }

            .tb-r {
                margin-right: 2rem;
                max-width: 15rem;
                min-width: 15rem;

                &:hover {
                    img {
                        box-shadow: 0 5px 5px rgba(0,0,0,.05);
                    }
                }

                img {
                    width: 100%;
                    height: 20rem;
                    object-fit: contain;
                    transition: .2s ease-in-out;
                    background: $white;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $text-black;
                }
            }
        }

    }

    .consultation-form {
        text-align: center;
        margin: 7rem 0;

        p {
            margin: 0;
            font-size: 3.6rem;
            line-height: 3.8rem;
            font-family: "Cormorant Garamond", serif;
        }

        a {
            width: max-content;
            margin: 3rem auto;
            padding: 0 5rem;
            height: auto;
        }
    }

}

@media(max-width: 1440px) {
    .product-page {
        .product-more-info {
            .geoma {
                img {
                    max-width: 78rem;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .product-page {
        .product-more-info {
            .geoma {
                img {
                    max-width: 61rem;
                }
            }
        }
    }
}
