@media only screen and (max-width: 1024px) {
    .container {
        .order-page-check {
            .form {
                margin: 0;
                .cart-holder {
                    .holder-left {
                        .order-page-check {
                            &__title {
                                font-size: 3rem;
                                text-align: center;
                            }
                            &__info {
                                display: flex;
                                flex-direction: column;
                                margin: 0 3.4rem;
                            }
                            &__index {
                                padding-top: 6rem;
                                margin-top: 3rem;
                                border-top: 1px solid rgba(46, 51, 56, 0.2);
                            }
                            &__list {
                                margin-right: 0;
                                .title {
                                    font-size: 1.2rem;
                                }
                            }
                            &__list-item {
                                a, span {
                                    font-size: 1.5rem;
                                }
                            }
                            &__list.contact {
                                margin-bottom: 5rem;
                            }
                            &__counter {
                                font-size: 1.2rem;
                                margin: 0 3.4rem;
                            }
                        }
                        .cart-products-list {
                            margin-bottom: 3rem;
                            border-bottom: 1px solid rgba(46, 51, 56, 0.2);
                            padding-bottom: 5rem;
                            .order-item {
                                border-top: none;
                                margin: 0 3.4rem 0 1.7rem;
                                figure {
                                    width: 17.2rem;
                                    height: 20.2rem;
                                }
                                .title {
                                    margin-bottom: 2rem;
                                }
                                .order-content {
                                    padding: 1rem 0;
                                    .grid-products {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: left;
                                        align-items: start;
                                        p {
                                            padding-bottom: 0.5rem;
                                        }
                                    }
                                }
                                .close {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .check-before-pay {
            padding: 0 3.3rem;
            .title {
                font-family: Cormorant Garamond;
                font-weight: 600;
                font-size: 3rem;
                color: $text-black;
                margin: 6.25rem 0;
                text-align: center;
            }
            .check-before-pay__list {
                margin-bottom: 6.25rem;
                .list-title {
                    font-weight: bold;
                    font-size: 1.25rem;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    margin-bottom: 3rem;
                }
                .list-info {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 2rem;
                    }
                }
            }
        }
        .content-order {
            border-top: 1px solid rgba(46, 51, 56, 0.2);
            border-bottom: 1px solid rgba(46, 51, 56, 0.2);
            &__title {
                font-weight: bold;
                font-size: 1.25rem;

                letter-spacing: 1.5px;
                text-transform: uppercase;
                padding: 6.25rem 0 3rem 3.3rem;
            }
        }
    }
}
