// general colors
$black: #000;
$white: #fff;

// primary colors
$bg-grey: #F0F0F0;
$text-dark-grey: #5A5A5A;
$text-black: #272727;
$bg-light-grey: #FAFAFA;
$bg-grey-lighter: #F8F8F8;
$border-black: #757575;

$menu-grey: #8D8D8D;
$menu-divider: #BFBFBF;
$delete-grey: #F7F7F7;

// input placeholder
$input-placeholder: #978B92;
$red: #C73145;
$breadcrumbs-grey: #C0C0C0;
$plus-grey: #C7C7C7;
$dark-blue: #2E3338;

$link-blue: #067AFF;
$order-grey: #eeeeee;

$yellow: #FAFF00;
